doctype html
html(lang='en')
    head
        title Landing Page
    body
        header
            h1 Flash Cards
        section#content
            h2=prompt
            if hint
                p
                    i Hint: #{hint}
        footer
        p An app to help you study